networks:
  mailculator-processor-deployments-net:


services:
  test:
    container_name: mailculator_processor_test
    profiles:
      - 'test'
    image: golang:1.25-alpine
    working_dir: /app
    environment:
      SMTP_HOST: '127.0.0.1'
      SMTP_USER: 'user'
      SMTP_PASS: 'pass'
      SMTP_PORT: '1025'
      SMTP_FROM: 'mailer@example.com'
      SMTP_ALLOW_INSECURE_TLS: 'true'
      PIPELINE_INTERVAL: '1'
      PIPELINE_CALLBACK_URL: 'http://127.0.0.1:8080'
      ATTACHMENTS_BASE_PATH: 'testdata/attachments'
      EML_STORAGE_PATH: 'testdata/.out/eml'
      MYSQL_HOST: '127.0.0.1'
      MYSQL_PORT: '3306'
      MYSQL_USER: 'root'
      MYSQL_PASSWORD: 'test'
      MYSQL_DATABASE: 'mailculator_test'
      MYSQL_TLS: 'false'
    command: >
      sh -c "go mod tidy &&
             ./scripts/coverage.sh unit &&
             go test ./... -tags=repository &&
             go test ./... -tags=integration"
    volumes:
      - ./.cache/go:/go/pkg/mod:cached
      - .:/app
    network_mode: host


  mailpit: &mailpit-base
    profiles:
      - 'none'
    image: axllent/mailpit
    environment:
      MP_SMTP_TLS_CERT: '/certs/cert.pem'
      MP_SMTP_TLS_KEY: '/certs/key.pem'
      MP_SMTP_REQUIRE_STARTTLS: 'true'
      MP_SMTP_AUTH_ACCEPT_ANY: 'true'
    volumes:
      - ./docker/fake-smtp-certs:/certs
    networks:
      - mailculator-processor-deployments-net

  mailpit-test:
    <<: *mailpit-base
    container_name: mailculator_processor_mailpit_test
    profiles:
      - 'test-deps'
    ports:
      - '127.0.0.1:1025:1025'

  mailpit-devcontainer:
    <<: *mailpit-base
    container_name: mailculator_processor_mailpit_test
    profiles:
      - 'devcontainer-deps'
    ports:
      - '127.0.0.1:1025:1025'
      - '127.0.0.1:9002:8025'

  mysql: &mysql-base
    profiles:
      - 'none'
    image: mariadb:10.11
    environment:
      MARIADB_ROOT_PASSWORD: 'test'
      MARIADB_DATABASE: 'mailculator_test'
    volumes:
      - './docker/mysql/migrations:/docker-entrypoint-initdb.d/migrations:ro'
      - './docker/mysql/init.sh:/docker-entrypoint-initdb.d/zzz-init.sh:ro'
    healthcheck:
      test: ['CMD-SHELL', 'test -f /var/lib/mysql/zz-finish && mysqladmin ping -h localhost -ptest']
      interval: 2s
      timeout: 5s
      retries: 30
    ports:
      - '127.0.0.1:3306:3306'
    networks:
      - mailculator-processor-deployments-net

  mysql-test:
    <<: *mysql-base
    container_name: mailculator_processor_mysql_test
    profiles:
      - 'test-deps'

  mysql-devcontainer:
    <<: *mysql-base
    container_name: mailculator_processor_mysql_devcontainer
    profiles:
      - 'devcontainer-deps'

  wait-for-mysql-test:
    container_name: mailculator_processor_wait_for_mysql_test
    profiles:
      - 'test-deps'
    image: golang:1.25-alpine
    command: ['echo', 'Service mysql-test is ready']
    networks:
      - mailculator-processor-deployments-net
    depends_on:
      mysql-test:
        condition: service_healthy

  phpmyadmin:
    container_name: mailculator_processor_phpmyadmin_devcontainer
    profiles:
      - 'devcontainer-deps'
    image: phpmyadmin:latest
    ports:
      - '127.0.0.1:9003:80'
    environment:
      PMA_HOST: 'mysql-devcontainer'
      PMA_USER: 'root'
      PMA_PASSWORD: 'test'
    networks:
      - mailculator-processor-deployments-net
    depends_on:
      mysql-devcontainer:
        condition: service_healthy
