aws:
  base_endpoint: "${AWS_BASE_ENDPOINT}"

callback:
  max_retries: 3
  retry_interval: 5
  url: ${PIPELINE_CALLBACK_URL}

eml-storage:
  path: "${EML_STORAGE_PATH}"

health-check:
  server:
    port: 8080

outbox:
  table-name: "${EMAIL_OUTBOX_TABLE}"

pipeline:
  interval: ${PIPELINE_INTERVAL}

smtp:
  host: "${SMTP_HOST}"
  port: ${SMTP_PORT}
  user: "${SMTP_USER}"
  password: "${SMTP_PASS}"
  from: "${SMTP_FROM}"
  allow_insecure_tls: ${SMTP_ALLOW_INSECURE_TLS}
