aws:
  base_endpoint: "${AWS_BASE_ENDPOINT}"

attachments:
  base-path: "${ATTACHMENTS_BASE_PATH}"

callback:
  max_retries: 3
  retry_interval: 5
  url: ${PIPELINE_CALLBACK_URL}

eml-storage:
  path: "${EML_STORAGE_PATH}"

health-check:
  server:
    port: 8080

mysql:
  host: "${MYSQL_HOST}"
  port: ${MYSQL_PORT}
  user: "${MYSQL_USER}"
  password: "${MYSQL_PASSWORD}"
  database: "${MYSQL_DATABASE}"

outbox:
  table-name: "${EMAIL_OUTBOX_TABLE}"

pipeline:
  interval: ${PIPELINE_INTERVAL}

pipelines:
  dynamodb:
    enabled: ${DYNAMODB_PIPELINES_ENABLED}
  mysql:
    enabled: false

smtp:
  host: "${SMTP_HOST}"
  port: ${SMTP_PORT}
  user: "${SMTP_USER}"
  password: "${SMTP_PASS}"
  from: "${SMTP_FROM}"
  allow_insecure_tls: ${SMTP_ALLOW_INSECURE_TLS}
